# Backend
backend/.venv/
backend/data/
backend/models/
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/.pytest_cache/
backend/hf-backend/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db
